
.idea/workspace.xml
Application/View/GoldTeam/Manager/
Application/View/GoldTeam/Waiter/
Data/.DS_Store
Data/Vendors/almasaeed2010/
Data/Vendors/google/apiclient-services/src/Google/Service/Iam/AuditConfig.php
Data/Vendors/google/apiclient-services/src/Google/Service/Iam/AuditLogConfig.php
Data/Vendors/google/apiclient-services/src/Google/Service/ServiceManagement/AuditConfig.php
Data/Vendors/google/apiclient-services/src/Google/Service/ServiceManagement/AuditLogConfig.php
Data/Vendors/google/apiclient-services/src/Google/Service/Testing/ApkDetail.php
Data/Vendors/google/apiclient-services/src/Google/Service/Testing/ApkManifest.php
Data/Vendors/google/apiclient-services/src/Google/Service/Testing/GetApkDetailsResponse.php
Data/Vendors/google/apiclient-services/src/Google/Service/Testing/IntentFilter.php
Data/Vendors/google/apiclient-services/src/Google/Service/Testing/Resource/ApplicationDetailService.php
Data/Vendors/google/apiclient-services/src/Google/Service/YouTube/Nonprofit.php
Data/Vendors/google/apiclient-services/src/Google/Service/YouTube/NonprofitId.php
Would skip repository Data/Vendors/google/apiclient/
Data/Vendors/google/protobuf/third_party/
Data/Vendors/mustache/mustache/.gitignore
Data/Vendors/mustache/mustache/.gitmodules
Data/Vendors/mustache/mustache/.php_cs
Data/Vendors/mustache/mustache/.styleci.yml
Data/Vendors/mustache/mustache/.travis.yml
Data/Vendors/mustache/mustache/CONTRIBUTING.md
Data/Vendors/mustache/mustache/LICENSE
Data/Vendors/mustache/mustache/README.md
Data/Vendors/mustache/mustache/bin/
Data/Vendors/mustache/mustache/composer.json
Data/Vendors/mustache/mustache/phpunit.xml.dist
Data/Vendors/mustache/mustache/src/
Data/Vendors/mustache/mustache/test/
Would skip repository Data/Vendors/psr/log/
Data/Vendors/richardtmiles/carbonphp/.gitignore
Data/Vendors/richardtmiles/carbonphp/.idea/
Data/Vendors/richardtmiles/carbonphp/CarbonPHP.iml
Data/Vendors/richardtmiles/carbonphp/Error/
Data/Vendors/richardtmiles/carbonphp/Extras/
Data/Vendors/richardtmiles/carbonphp/Helpers/
Data/Vendors/richardtmiles/carbonphp/Interfaces/
Data/Vendors/richardtmiles/carbonphp/LICENSE
Data/Vendors/richardtmiles/carbonphp/README.md
Data/Vendors/richardtmiles/carbonphp/Structure/
Data/Vendors/richardtmiles/carbonphp/app.yaml
Data/Vendors/richardtmiles/carbonphp/composer.json
Data/Vendors/richardtmiles/carbonphp/composer.lock
/.idea/
