<div class="box box-solid box-warning" style="margin-top: 20px">
    <div class="box-header">
        <h3 class="box-title">Table Selection</h3>
    </div>
    <div class="box-body">
        {{#tables}}
            <div class="col-xs-3" style="margin-top: 10px">
                <a href='/ViewTables/{{name}}' type="button" class="btn btn-{{^success}}default{{/success}}{{#success}}success{{/success}} btn-block">{{name}}</a>
            </div>
        {{/tables}}
    </div>
    <div class="box-footer">

    </div>
</div>